#projectInfoB {

}

.project {
  cursor: pointer;
}

.project.selected {
  color: #FFF;
  background-color: #222;
}

.issue {
  cursor: pointer;
}

#projectInfoB #projectInfoB_TotalsByIssueStatus td {
  width: 20%;
}

.issue td.new,
#projectInfoB td.new,
.icon-issue-status-new {
  background-color: #E5FFE5;
}

.issue td.need-information,
#projectInfoB td.need-information,
.icon-issue-status-need-information {
  background-color: #FFE5E5;
}

.issue td.assigned,
#projectInfoB td.assigned,
.icon-issue-status-assigned {
  background-color: #FFFFE5;
}

.issue td.resolved,
#projectInfoB td.resolved,
.icon-issue-status-resolved {
  background-color: #E5F2FF;
}

.issue td.closed,
#projectInfoB td.closed,
.icon-issue-status-closed {
  background-color: #F5F5F5;
}

.issue td.closed {
  color: #AAA;
  text-decoration: line-through;
}

.issue.selected td {
  color: #FFF;
  background-color: #222;
}

.issue.selected td.closed {
  color: #CCC;
}

.icon-issue-status {
  border: 1px solid #000000;
}

.status-dropdown-toggle {
  min-width: 110px;
  max-width: 110px;
}

#issueInfo.stuck {
  position: fixed;
  width: 32.42%;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  #issueInfo.stuck {
    top: 10px;
  }
}

@media only screen and (min-width: 980px) {
  #issueInfo.stuck {
    top: 51px;
  }
}