#projectInfo textarea {
  height: 110px;
}

#issueInfo textarea {
  height: 410px;
}

#projectInfo hr, #issueInfo hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 1em 0;
  padding: 0;
}

#projectInfoOverview #projectInfoOverview_TotalsByIssueStatus td {
  width: 20%;
}

#projectInfoOverview #projectInfoOverview_TotalIssues td.total {
  background-color: #FDFDFD;
}

.project {
  cursor: pointer;
}

.project.selected {
  color: #FFF;
  background-color: #222;
}

.projectUser {
  cursor: pointer;
}

.issue {
  cursor: pointer;
}

.issue.new td,
#projectInfoOverview td.new {
  background-color: #FFE5E5;
}

.issue.discuss td,
#projectInfoOverview td.discuss {
  background-color: #FFFFE5;
}

.issue.assigned td,
#projectInfoOverview td.assigned {
  background-color: #E5FFE5;
}

.issue.resolved td,
#projectInfoOverview td.resolved {
  background-color: #E5F2FF;
}

.issue.closed td,
#projectInfoOverview td.closed {
  background-color: #F5F5F5;
}

.issue.closed td {
  color: #AAA;
  text-decoration: line-through;
}

.issue.selected td {
  color: #FFF;
  background-color: #222;
}

.issue.selected td.closed {
  color: #CCC;
}

.icon-issue-status-new {
  color: #FFE5E5;
}

.icon-issue-status-discuss {
  color: #FFFFE5;
}

.icon-issue-status-assigned {
  color: #E5FFE5;
}

.icon-issue-status-resolved {
  color: #E5F2FF;
}

.icon-issue-status-closed {
  color: #F5F5F5;
}

.icon-issue-status-shadow {
  text-shadow: 1px 1px 1px #ccc;
}

.issue-status-dropdown-toggle, .user-role-dropdown-toggle {
  min-width: 79px;
  max-width: 79px;
}

#issueInfo.stuck {
  position: fixed;
  width: 32.42%;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  #issueInfo.stuck {
    top: 10px;
  }
}

@media only screen and (min-width: 980px) {
  #issueInfo.stuck {
    top: 51px;
  }
}